html, body{
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Catamaran', sans-serif;
   background-color: #A1C298;
   line-height: 1.65;
   padding-bottom: 1000%;
}


/* Latihan 1 */
.container-satu {
   width: 800px;
   margin: 50px auto;
   background-color: #F2F2F2;
   padding: 20px;
   box-sizing: border-box;
   display: flex;
}

.kolom-utama {
   flex: 3;
   order: 2;
}
.sidebar-satu{
   flex: 1;
   order: 1;
}
.sidebar-dua{
   padding-left: 3%;
   flex: 1;
   order: 3;
}
/* Akhir Latihan 1 */

/* Latihan 2 */
.container-dua {
   max-width: 800px;
   margin: 50px auto;
   
}

.layanan {
   margin-bottom: 10px;
   padding: 20px;
   
}

 .satu {
   background-color: #FFEBAD;
}
 .dua {
   background-color: #AF0171;
}
 .tiga {
   background-color: #D07000;
}
/* Akhir Latihan 2 */


/* Latihan 3 */
.container-tiga {
   margin: 50px auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.thumbnail {
   width: 50%;
}

.thumbnail img {
   width: 100%;
}
/* Akhir Latihan 3 */


/* Latihan 4 */
.container-empat {
   max-width: 800px;
   margin: 50px auto;
   display: flex;
   flex-wrap: wrap;
}

.card {
   border: 2px solid #400D51;
   border-radius: 15px;
   overflow: hidden;
   margin: 5px 20px;
}


.card .header {
   height: 150px;
   background-color: #4C0033;
}
.card .content {
   text-align: center;
   padding-bottom: 15px;
}
/* Akhir Latihan 4 */

/* Final Latihan 5 */

/* Membuat Layar Responsive */
@media (min-width: 600px) {
   .container-dua{
      display: flex;
      justify-content: space-between;
   }
   .layanan {
      width: 30%;
      box-sizing: border-box;
   }
   .layanan h3 {
      text-align: center;
   }

   .container-tiga {
      max-width: 800px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   }
   
   .thumbnail {
      width: 25%;
   }

   /* Latihan 4 */
   .container-empat {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
   }

   .card {
      margin: 16px;
   }
   
   .besar {
      transform: scale(1.2);
   }
}